/* :root {
    font-size: 32px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
  }
   */
  #tool-header-container {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica;

  }
  
  #tool-index-header {
    margin: 0;
    letter-spacing: -2px;
  }
  
  #personal-describe{
    font-size: .9rem;
    margin-right: 10px;
    color: #666;
    line-height: 1.3rem;
    position: relative;
    top: .8rem;
    opacity: 0;
    animation: .5s swift-up ease-out forwards, .5s fade-in ease-out forwards;
    animation-delay: .8s;
  }
  
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  
  .tool-index-header-font {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: .8rem;
    animation: .3s swift-up ease-in-out forwards;
  }
  
  .tool-index-header-font-i {
    font-style: normal;
    position: relative;
    margin-right: 10px;
    top: 2rem;
    animation: .5s swift-up ease-in-out forwards;
  }
  
  @keyframes swift-up {
    to {
      top: 0rem;
    }
  }
  .tool-index-header-font:nth-of-type(1) i {
    animation-delay: 0s;
  }
  
  .tool-index-header-font:nth-of-type(2) i {
    animation-delay: .1s;
  }
  
  .tool-index-header-font:nth-of-type(1) {
    animation-delay: 0s;
  }
  
  .tool-index-header-font:nth-of-type(2) {
    animation-delay: .1s;
  }
  